{% extends 'layouts/base.html' %}
{% load static %}

{% block breadcrumbs %}

{% endblock %}

{% block content %}
  <!-- [ Main Content ] start -->
  <form method="post" action="" enctype="multipart/form-data">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header" style="display: flex;">
            <h5>Alterar Password do Utilizador: {{user.username}}</h5>
          </div>
          <div class="card-body">
            <div class="">
                <div class="">
                    <div class="form-group">
                        <div class="col-sm-4">
                            {{ form.new_password1.errors }}
                            {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                        </div>
                        <ul>
                            <li>
                                O seu palavra-passe não pode ser muito semelhante às suas outras informações pessoais.
                            </li>
                            <li>
                                O seu palavra-passe deve conter pelo menos 8 caracteres.
                            </li>
                            <li>
                                O seu palavra-passe não pode ser uma senha comumente usada.
                            </li>
                            <li>
                                O seu palavra-passe não pode ser totalmente numérica.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    {{ form.new_password2.errors }}
                    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                    {% if form.new_password2.help_text %}
                    <div class="help"{% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                    {% endif %}
                  </div>
                </div>
              
                {% csrf_token %}
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" id="submit">Guardar</button>
                <a class="btn btn-secondary" href="{% url 'users.profile' %}" id="cancel">Cancelar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!-- [ Main Content ] end -->

  <style>
  
  </style>

  <script>
 
  </script>
{% endblock %}
