{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<style>
  .errors{
    color: rgb(223, 73, 73);
  }

  #masc-img {
    width: 150px;
    height: 137px;
    transform: translateX(20px);
    background: rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    background-image: none;
    position: absolute;
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #masc-img i {
    color: black;
  }

  #id_image{
    display: none;
  }

</style>

  <!-- [ Main Content ] start -->
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 10px;">
      {% comment %} <h5>Atualizar dados de Militantes</h5> {% endcomment %}
    </div>
    <div class="col-sm-12">
      <form action="{% url 'militantes.update' id %}" method="post" id="form-militantes" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-12 m-b-30">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active show" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Dados de Pessoais</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Identificação</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contactos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="endereco-tab" data-toggle="tab" href="#endereco" role="tab" aria-controls="endereco" aria-selected="false">Endereço</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="d-flex align-items-center justify-content-center flex-column">
                          <div class="w-50 p-3" id="img-contrainer">
                            <div class="img-fluid rounded-circle" id="masc-img">
                              <i class="fa fa-solid fa-edit" style="font-size: 24px;"></i>
                            </div>
                            <img src="{% if  militante.image %}
                              /media/{{ militante.image }}
                              {% else %}
                                {% static 'assets/images/user/avatar-1.jpg' %}
                              {% endif %}"
                              alt="profile image"
                              class="img-fluid rounded-circle"
                              id="profile_image"
                              style="width: 150px;height: 137px;transform: translateX(20px);" />
                          </div>
                          <div class="" style="margin-bottom: 10px;">{{ militantesForm.image }}
                            {{ militantesForm.image.errors }}
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.nome_completo.label_tag }}
                        {{ militantesForm.nome_completo }}
                        {{ militantesForm.nome_completo.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
          
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.alcunha.label_tag }}
                        {{ militantesForm.alcunha }}
                        {{ militantesForm.alcunha.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.tp_associado.label_tag }}
                        {{ militantesForm.tp_associado }}
                        {{ militantesForm.tp_associado.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.agregado_familiar.label_tag }}
                        {{ militantesForm.agregado_familiar }}
                        {{ militantesForm.agregado_familiar.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.local_trabalho.label_tag }}
                        {{ militantesForm.local_trabalho }}
                        {{ militantesForm.local_trabalho.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.profissao_atual.label_tag }}
                        {{ militantesForm.profissao_atual }}
                        {{ militantesForm.profissao_atual.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.empresa.label_tag }}
                        {{ militantesForm.empresa }}
                        {{ militantesForm.empresa.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.sector.label_tag }}
                        {{ militantesForm.sector }}
                        {{ militantesForm.sector.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.funcao.label_tag }}
                        {{ militantesForm.funcao }}
                        {{ militantesForm.funcao.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.area_atuacao.label_tag }}
                        {{ militantesForm.area_atuacao }}
                        {{ militantesForm.area_atuacao.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.grau_academica.label_tag }}
                        {{ militantesForm.grau_academica }}
                        {{ militantesForm.grau_academica.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.curso.label_tag }}
                        {{ militantesForm.curso }}
                        {{ militantesForm.curso.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.nm_pai.label_tag }}
                        {{ militantesForm.nm_pai }}
                        {{ militantesForm.nm_pai.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.nm_mae.label_tag }}
                        {{ militantesForm.nm_mae }}
                        {{ militantesForm.nm_mae.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
          
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.dt_nascimento.label_tag }}
                        {{ militantesForm.dt_nascimento }}
                        {{ militantesForm.dt_nascimento.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.genero.label_tag }}
                        {{ militantesForm.genero }}
                        {{ militantesForm.genero.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
          
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.estado_civil.label_tag }}
                        {{ militantesForm.estado_civil }}
                        {{ militantesForm.estado_civil.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
          
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.tp_documento.label_tag }}
                        {{ militantesForm.tp_documento }}
                        {{ militantesForm.tp_documento.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">{{ militantesForm.nr_documento.label_tag }}
                        {{ militantesForm.nr_documento }}
                        {{ militantesForm.nr_documento.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">{{ militantesForm.dt_emissao_doc.label_tag }}
                        {{ militantesForm.dt_emissao_doc }}
                        {{ militantesForm.dt_emissao_doc.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">{{ militantesForm.dt_validade_doc.label_tag }}
                        {{ militantesForm.dt_validade_doc }}
                        {{ militantesForm.dt_validade_doc.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.nr_telemovel1.label_tag }}
                        {{ militantesForm.nr_telemovel1 }}
                        {{ militantesForm.nr_telemovel1.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.nr_telemovel2.label_tag }}
                        {{ militantesForm.nr_telemovel2 }}
                        {{ militantesForm.nr_telemovel2.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
          
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.nr_telefone_casa.label_tag }}
                        {{ militantesForm.nr_telefone_casa }}
                        {{ militantesForm.nr_telefone_casa.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
          
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.email_pessoal.label_tag }}
                        {{ militantesForm.email_pessoal }}
                        {{ militantesForm.email_pessoal.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
          
                    <div class="col-md-12">
                      <div class="form-group">{{ militantesForm.email_trabalho.label_tag }}
                        {{ militantesForm.email_trabalho }}
                        {{ militantesForm.email_trabalho.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="endereco" role="tabpanel" aria-labelledby="endereco-tab">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        
                        <label for="pais">Pais</label>
                        <select id="pais" name="{{militantesForm.pais.name}}" class="form-control">
                          
                        </select>
                        {{ militantesForm.morada_atual.pais }}
                      </div>
                      <span class="errors"></span>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        
                        <label for="ilha">Ilha</label>
                        <select id="ilha" name="{{militantesForm.regiao.name}}" class="form-control"><option value="">Todos</option>
                          
                        </select>
                        {{ militantesForm.ilha.errors }}
                        <span class="errors"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        
                        <label for="concelho">Concelho</label>
                        <select id="concelho" name="{{militantesForm.concelho.name}}" class="form-control">
                          
                        </select>
                        {{ militantesForm.concelho.errors }}
                        <span class="errors"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="freguesia">Freguesia</label>
                        <select id="freguesia" name="{{militantesForm.localidade.name}}" class="form-control">
                          
                        </select>
                        {{ militantesForm.freguesia.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group"> 
                        <label for="zona">Zona</label>
                        <select id="zona" name="{{militantesForm.zona.name}}" class="form-control">
                          
                        </select>
                        {{ militantesForm.zona.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">{{ militantesForm.morada_atual.label_tag }}
                        {{ militantesForm.morada_atual }}
                        {{ militantesForm.morada_atual.errors }}
                        <span class="errors"></span>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">{{ militantesForm.perto_de.label_tag }}
                        {{ militantesForm.perto_de }}
                        {{ militantesForm.perto_de.errors }}
                        <span class="errors"></span>
                      </div>
                        {% csrf_token %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% csrf_token %}
        <div class="row">
          <div class="col-md-12" style="text-align: right;">
            <a href="{% url 'militantes.index' %}" class="btn btn-secondary">Cancelar</a>
            <button type="button" class="btn btn-primary" id="criar">Atualizar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script>

    function getPais(val){
      $("#pais").html("")
      $("#pais").prop("disabled",true)
      $("#pais").append('<option value="">Carrengado...</option>')
      $.get("{% url 'militantes.getPais' %}",{},function(data){
        data = data.data
        $("#pais").html("")
        $("#pais").append('<option value="">Seleciona</option>')
        for(i=0;i<data.length ; i++){
          $("#pais").append('<option value="'+data[i].id+'"'+ (val == data[i].id ? "selected" : "")+ '>'+data[i].nome+'</option>')
        }
        $("#pais").prop("disabled",false)
      })
    }


    function getIlhas(id,val){
      $("#ilha").html("")
      $("#ilha").prop("disabled",true)
      $("#ilha").append('<option value="">Carrengado...</option>')
      $.get("{% url 'militantes.getIlhas' %}",{'id_pais':id},function(data){
        data = data.data
        $("#ilha").html("")
        $("#ilha").append('<option value="">Seleciona</option>')
        for(i=0;i<data.length ; i++){
          $("#ilha").append('<option value="'+data[i].id+'"'+ (val == data[i].id ? "selected" : "")+ '>'+data[i].nome+'</option>')
        }
        $("#ilha").prop("disabled",false)
      })
    }

    function getConcelho(id,val){
      $("#concelho").html("")
      $("#concelho").prop("disabled",true)
      $("#concelho").append('<option value="">Carrengado...</option>')
      $.get("{% url 'militantes.getConcelho' %}",{'id_ilha':id},function(data){
        data = data.data
        $("#concelho").html("")
        $("#concelho").append('<option value="">Seleciona</option>')
        for(i=0;i<data.length ; i++){
          $("#concelho").append('<option value="'+data[i].id+'"'+ (val == data[i].id ? "selected" : "")+ '>'+data[i].nome+'</option>')
        }
        $("#concelho").prop("disabled",false)
      })
    }

    function getFreguesia(id,val){
      $("#freguesia").html("")
      $("#freguesia").prop("disabled",true)
      $("#freguesia").append('<option value="">Carrengado...</option>')
      $.get("{% url 'militantes.getFreguesia' %}",{'id_concelho':id},function(data){
        data = data.data
        $("#freguesia").html("")
        $("#freguesia").append('<option value="">Seleciona</option>')
        for(i=0;i<data.length ; i++){
          $("#freguesia").append('<option value="'+data[i].id+'"'+ (val == data[i].id ? "selected" : "")+ '>'+data[i].nome+'</option>')
        }
        $("#freguesia").prop("disabled",false)
      })
    }

    function getZona(id,val){
      $("#zona").html("")
      $("#zona").prop("disabled",true)
      $("#zona").append('<option value="">Carrengado...</option>')
      $.get("{% url 'militantes.getZona' %}",{'id_freguesia':id},function(data){
        data = data.data
        $("#zona").html("")
        $("#zona").append('<option value="">Seleciona</option>')
        for(i=0;i<data.length ; i++){
          $("#zona").append('<option value="'+data[i].id+'"'+ (val == data[i].id ? "selected" : "")+ '>'+data[i].nome+'</option>')
        }
        $("#zona").prop("disabled",false)
      })
    }

    $(document).on("change","#pais",function(){
      let id = $(this).val()
      getIlhas(id)
    })

    $(document).on("change","#ilha",function(){
      let id = $(this).val()
      getConcelho(id)
    })

    $(document).on("change","#concelho",function(){
      let id = $(this).val()
      getFreguesia(id)
    })

    $(document).on("change","#freguesia",function(){
      let id = $(this).val()
      getZona(id)
    })

    getPais("{{militantesForm.pais.value}}" ? "{{militantesForm.pais.value}}":"")
    getIlhas("{{militantesForm.pais.value}}" ? "{{militantesForm.pais.value}}":"","{{militantesForm.regiao.value}}" ? "{{militantesForm.regiao.value}}":"")
    getConcelho("{{militantesForm.regiao.value}}" ? "{{militantesForm.regiao.value}}":"","{{militantesForm.concelho.value}}" ? "{{militantesForm.concelho.value}}":"")
    getFreguesia("{{militantesForm.concelho.value}}" ? "{{militantesForm.concelho.value}}":"","{{militantesForm.localidade.value}}" ?"{{militantesForm.localidade.value}}":"")
    getZona("{{militantesForm.localidade.value}}" ? "{{militantesForm.localidade.value}}":"","{{militantesForm.zona.value}}" ? "{{militantesForm.zona.value}}":"")

    $(document).on("change",".invalid",function(){
      $(this).removeClass("invalid")
      $(this).parent(".form-group").find(".errors").text("")
    })

    function validateForm() {
      let valid = true
      let input = $("input,textarea,select")

      for(i=0;i<input.length;i++){
        const element = input[i]
        if($(element).prop("required") && $(element).val() == ""){
            $(element).parent(".form-group").find(".errors").text("Este campo deve ser preenchido!")
            let tab = $(element).parents(".tab-pane")[0]
            tab = $("#"+$(tab).attr("aria-labelledby")).css({
              color:"rgb(223, 73, 73)"
            })

            valid = false 
        }
      }
      return valid
     
    }

    $(document).on("click",'#criar',function(){
      if(validateForm())
      {
        $("#form-militantes").submit()
      }
    })

    var loadFile = function (event) {
      var image = document.getElementById('profile_image')
      image.src = URL.createObjectURL(event.target.files[0])
    }
    
    
    document.getElementById('masc-img').addEventListener('click', function () {
      document.getElementById('id_image').click()
    })
    
    document.getElementById('id_image').addEventListener('change', loadFile)
    
    document.getElementById('profile_image').addEventListener('mouseover', function () {
        document.getElementById('masc-img').style.display = 'flex'
    })
    
    document.getElementById('masc-img').addEventListener('mouseout', function () {
      document.getElementById('masc-img').style.display = 'none'
    })
  </script>
{% endblock %}
