{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-md-12" style="display: flex;">
      <a href="{% url 'eleitores.index' %}" style="margin-right: 10px;color: #1a9123;">
        <i class="fa fa-solid fa-arrow-left"></i> Voltar
      </a>
      <h5>Registrar Eleitor</h5>
    </div>
    <div class="col-md-12">
      <form action="{% url 'eleitores.create' %}" method="post">
        {% csrf_token %}
        {% include 'pages/eleitores/_form_fields.html' %}

        <div class="row">
          <div class="col-md-12" style="text-align: end;">
            <a href="{% url 'eleitores.index' %}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
