{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
  <div class="row">
    <div class="col-md-12" style="display: flex;">
      <a href="{% url 'eleitores.index' %}" style="margin-right: 10px;color: #1a9123;"> <i class="fa fa-solid fa-arrow-left"></i> Voltar</a>
      <h5>Registrar Eleitor</h5>
    </div>
    <div class="col-md-12">
      <form action="{% url 'eleitores.create'%}" method="post">
        <div class="card">
          <div class="card-header">
            <h5>Dados de Identificação</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">{{ form.nome.label_tag }}
                  {{ form.nome }}
                  {{ form.nome.errors }}</div>
              </div>
              <div class="col-md-6">
                <div class="form-group">{{ form.alcunha.label_tag }}
                  {{ form.alcunha }}
                  {{ form.alcunha.errors }}</div>
              </div>
              <div class="col-md-6">
                <div class="form-group">{{ form.nr_identificacao.label_tag }}
                  {{ form.nr_identificacao }}
                  {{ form.nr_identificacao.errors }}</div>
              </div>
              <div class="col-md-6">
                <div class="form-group">{{ form.data_nascimento.label_tag }}
                  {{ form.data_nascimento }}
                  {{ form.data_nascimento.errors }}</div>
              </div>
              <div class="col-md-6">
                <div class="form-group">{{ form.pai.label_tag }}
                  {{ form.pai }}
                  {{ form.pai.errors }}</div>
              </div>
              <div class="col-md-6">
                <div class="form-group">{{ form.mae.label_tag }}
                  {{ form.mae }}
                  {{ form.mae.errors }}</div>
              </div>
              <div class="col-md-6">
                <div class="form-group">{{ form.genero.label_tag }}
                  {{ form.genero }}
                  {{ form.genero.errors }}</div>
              </div>
              <div class="col-md-6">
                <div class="form-group">{{ form.militante_id.label_tag }}
                  {{ form.militante_id }}
                  {{ form.militante_id.errors }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>Residencia</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">{{ form.pais.label_tag }}
                  {{ form.pais }}
                  {{ form.pais.errors }}</div>
              </div>
              <div class="col-md-6">
                <div class="form-group">{{ form.ilha.label_tag }}
                  {{ form.ilha }}
                  {{ form.ilha.errors }}</div>
              </div>
              <div class="col-md-6">
                <div class="form-group">{{ form.conc_pais_res.label_tag }}
                  {{ form.conc_pais_res }}
                  {{ form.conc_pais_res.errors }}</div>
              </div>
              <div class="col-md-6">
                <div class="form-group">{{ form.local_cidade_res.label_tag }}
                  {{ form.local_cidade_res }}
                  {{ form.local_cidade_res.errors }}</div>
              </div>
              <div class="col-md-12">
                <div class="form-group">{{ form.morada.label_tag }}
                  {{ form.morada }}
                  {{ form.morada.errors }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>Contacto</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">{{ form.telefone.label_tag }}
                  {{ form.telefone }}
                  {{ form.telefone.errors }}</div>
              </div>
              <div class="col-md-6">
                <div class="form-group">{{ form.telemovel.label_tag }}
                  {{ form.telemovel }}
                  {{ form.telemovel.errors }}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h5>Eleitor</h5>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">{{ form.partido_voto.label_tag }}
                  {{ form.partido_voto }}
                  {{ form.partido_voto.errors }}</div>
              </div>
              <div class="col-md-4">
                <div class="form-group">{{ form.acompanhamento.label_tag }}
                  {{ form.acompanhamento }}
                  {{ form.acompanhamento.errors }}</div>
              </div>
              <div class="col-md-4">
                <div class="form-group">{{ form.transporte.label_tag }}
                  {{ form.transporte }}
                  {{ form.transporte.errors }}</div>
              </div>
              <div class="col-md-4">
                <div class="form-group">{{ form.tp_associado.label_tag }}
                  {{ form.tp_associado }}
                  {{ form.tp_associado.errors }}</div>
              </div>
              <div class="col-md-4">
                <div class="form-group">{{ form.desloca_outro_concelho.label_tag }}
                  {{ form.desloca_outro_concelho }}
                  {{ form.desloca_outro_concelho.errors }}</div>
              </div>
              <div class="col-md-4">
                <div class="form-group">{{ form.gv.label_tag }}
                  {{ form.gv }}
                  {{ form.gv.errors }}</div>
              </div>
              <div class="col-md-4">
                <div class="form-group">{{ form.desloca_de.label_tag }}
                  {{ form.desloca_de }}
                  {{ form.desloca_de.errors }}</div>
              </div>
              <div class="col-md-4">
                <div class="form-group">{{ form.desloca_para.label_tag }}
                  {{ form.desloca_para }}
                  {{ form.desloca_para.errors }}</div>
              </div>
              <div class="col-md-4">
                <div class="form-group">{{ form.estado_sensibilidade.label_tag }}
                  {{ form.estado_sensibilidade }}
                  {{ form.estado_sensibilidade.errors }}</div>
              </div>
              <div class="col-md-3">
                <div class="form-group">{{ form.code_regiao.label_tag }}
                  {{ form.code_regiao }}
                  {{ form.code_regiao.errors }}</div>
              </div>
              <div class="col-md-3">
                <div class="form-group">{{ form.id_obito.label_tag }}
                  {{ form.id_obito }}
                  {{ form.id_obito.errors }}</div>
              </div>
              <div class="col-md-3">
                <div class="form-group">{{ form.nr_eleitor.label_tag }}
                  {{ form.nr_eleitor }}
                  {{ form.nr_eleitor.errors }}</div>
              </div>
              <div class="col-md-3">
                <div class="form-group">{{ form.nr_mesa.label_tag }}
                  {{ form.nr_mesa }}
                  {{ form.nr_mesa.errors }}</div>
              </div>
              
              <div class="col-md-12">
                <div class="form-group">{{ form.observacoes.label_tag }}
                  {{ form.observacoes }}
                  {{ form.observacoes.errors }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div style="text-align: end;">
                    {% csrf_token %}
                    <a href="{% url 'eleitores.index' %}" class="btn btn-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary" >Guardar</button>
                </div>
            </div>
        </div>
      </form>
    </div>
  </div>

  <script>
    function getPais(){
      $.get("{% url 'militantes.getPais' %}",{},function(data){
        data = data.data
        for(i=0;i<data.length ; i++){
          $("#pais").append('<option value="'+data[i].id+'">'+data[i].nome+'</option>')
        }
      })
    }

    function getIlhas(id){
      $("#ilha").html("")
      $("#ilha").prop("disabled",true)
      $("#ilha").append('<option value="">Carrengado...</option>')
      $.get("{% url 'militantes.getIlhas' %}",{'id_pais':id},function(data){
        data = data.data
        $("#ilha").html("")
        $("#ilha").append('<option value="">Seleciona</option>')
        for(i=0;i<data.length ; i++){
          $("#ilha").append('<option value="'+data[i].id+'">'+data[i].nome+'</option>')
        }
        $("#ilha").prop("disabled",false)
      })
    }

    function getConcelho(id){
      $("#concelho").html("")
      $("#concelho").prop("disabled",true)
      $("#concelho").append('<option value="">Carrengado...</option>')
      $.get("{% url 'militantes.getConcelho' %}",{'id_ilha':id},function(data){
        data = data.data
        $("#concelho").html("")
        $("#concelho").append('<option value="">Seleciona</option>')
        for(i=0;i<data.length ; i++){
          $("#concelho").append('<option value="'+data[i].id+'">'+data[i].nome+'</option>')
        }
        $("#concelho").prop("disabled",false)
      })
    }

    function getFreguesia(id){
      $("#freguesia").html("")
      $("#freguesia").prop("disabled",true)
      $("#freguesia").append('<option value="">Carrengado...</option>')
      $.get("{% url 'militantes.getFreguesia' %}",{'id_concelho':id},function(data){
        data = data.data
        $("#freguesia").html("")
        $("#freguesia").append('<option value="">Seleciona</option>')
        for(i=0;i<data.length ; i++){
          $("#freguesia").append('<option value="'+data[i].id+'">'+data[i].nome+'</option>')
        }
        $("#freguesia").prop("disabled",false)
      })
    }

    function getZona(id){
      $("#zona").html("")
      $("#zona").prop("disabled",true)
      $("#zona").append('<option value="">Carrengado...</option>')
      $.get("{% url 'militantes.getZona' %}",{'id_freguesia':id},function(data){
        data = data.data
        $("#zona").html("")
        $("#zona").append('<option value="">Seleciona</option>')
        for(i=0;i<data.length ; i++){
          $("#zona").append('<option value="'+data[i].id+'">'+data[i].nome+'</option>')
        }
        $("#zona").prop("disabled",false)
      })
    }

    $(document).on("change","#pais",function(){
      let id = $(this).val()
      getIlhas(id)
    })

    $(document).on("change","#ilha",function(){
      let id = $(this).val()
      getConcelho(id)
    })

    $(document).on("change","#concelho",function(){
      let id = $(this).val()
      getFreguesia(id)
    })

    $(document).on("change","#freguesia",function(){
      let id = $(this).val()
      getZona(id)
    })

  </script>
{% endblock %}
